[ALEMBIC] Using DATABASE_URL: postgresql+asyncpg://postgres:password@db:5432/fastapi_db
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 81e271308957

CREATE TABLE users (
    id SERIAL NOT NULL, 
    email VARCHAR NOT NULL, 
    username VARCHAR NOT NULL, 
    hashed_password VARCHAR NOT NULL, 
    full_name VARCHAR, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now(), 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE INDEX ix_users_id ON users (id);

CREATE UNIQUE INDEX ix_users_username ON users (username);

INSERT INTO alembic_version (version_num) VALUES ('81e271308957') RETURNING alembic_version.version_num;

COMMIT;

